.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;

  height: calc(100vh - 80px);
  margin-top: 80px;

  background-color: #44362ddd;
  background-image: url('./assets/planks_background.jpg');
  background-blend-mode: soft-light;
  background-size: cover;

  overflow-y: auto;
  overflow-x: hidden;

  min-width: 100%;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

h4 {
  margin: 5px;
}

input {
  height: 30px;
  width: 250px;
  padding: 5px 20px;
  border-radius: 20px;
}

.lights-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.lights {
  height: 180px;
  rotate: -3.8deg;
  opacity: 0.7;
  z-index: 0;
}
