.Buying {
  display: flex;
  flex-direction: column;
  text-align: left;

  margin: 20px auto;

  max-width: calc(100% - 20px);
  width: 500px;
  border: 1px solid;

  border-radius: 20px;

  min-height: 100px;
  height: fit-content;
}



.Buying-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  border-bottom: 1px solid grey;
}

.Buying p {
  margin: 0;
  font-weight: 100;
  font-size: 11px;
}
.Buying-item > p:first-of-type {
  font-weight: 200;
  font-size: 20px;
}