.list {
  margin: 20px;

  max-width: 100%;
  width: 500px;

  border-radius: 20px;

  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;

  background-color: rgba(0, 0, 0, 0.38);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form input {
  max-width: 80%;
}

input[type='submit'] {
  margin-top: 10px;
  width: fit-content;
}

.list.og {
  max-width: 90%;
}

.list-items {
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  max-width: 80%;
  margin: 30px auto;

}

.list-items p {
  margin: 10px 0;
}

.list-item {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;

  overflow-x: auto;
}