.buying {
  background: rgb(58, 82, 55);
}

button,
input[type='submit'] {
  background: rgb(82, 55, 82);
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.buy-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buy-options button {
  margin: 5px;
}

.buy-options button:last-of-type {
  background: rgb(82, 55, 55);
}
