.login select {
  padding: 10px 80px;
  border-radius: 20px;
  cursor: pointer;
}

.fam-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-go {
  padding: 10px 80px;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(75, 118, 94);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login h1 {
  font-weight: 100;
  font-size: 80px;
}

.login p {
  font-weight: 200;
  font-size: 18px;
}

.wow {
  width: auto;
  max-height: 100px;
  border-radius: 50%;

  position: absolute;
  opacity: 0.5;
  rotate: 30deg;

  top: -40px;
  right: -50px;

  pointer-events: none;
}
